body {
  background: #f6e5dc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background: #2f180c;
  height: 60px;
  text-align: center;
  color: khaki;
}
h1 {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: row;
}
.food_img {
  width: 60%;
}
.food_img img {
  height: 350px;
}
.menu {
  font-size: 150%;
  margin: 70px;
}
.bottom-panel {
  padding: 30px;
  background: #d0b6a8;
  text-align: center;
}
.input-panel {
  margin: 30px;
}
.input p {
  margin: 0;
}
.button {
  background: #2f180c;
  color: khaki;
  padding: 10px;
  margin: 5px;
}
.footer {
  background: #2f180c;
  color: khaki;
  height: 60px;
}
.check {
  display: flex;
  justify-content: center;
}
